.footer-container{

    width: 100%;
    // height: 383px;
    background-image: url('../../images/footer-background-image.png');
    background-size: cover; /* This scales the background image to cover the entire container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image horizontally and vertically */

    display: flex;
    flex-direction: column;
}

.footer-contact-title{
color: white;
font-family: 'Inter';
font-size: 28px;
line-height: 34px;
font-weight: 700;
}
.footer-big-row-container{
display: flex;
/* justify-content: space-around; */
justify-content: center; /* ovako mozda lakse postignem kako treba po izgledu u figmi da bude, posle dodam padding na svaki box koliko treba */
padding-top: 60px; 
padding-left: 60px;
padding-right: 60px;

/* gap: 60px; */

/* flex-grow: 0;  */ /* Prevent this container from growing */ /* moze i bez ovoga !!! */

margin-bottom: 20px; /* da odvoji ceo container od small containera koji je zamracen */
}

.footer-contact-box-img-text-container{
display: flex;
gap: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.footer-row-box-container{
display: flex;
flex-direction: column;

padding-right: 140px;
padding-left: 40px;
border-right: 1px rgba(255, 255, 255, 0.26) solid; /* dodam opaciti na border, da se providi */
}

.footer-row-box-container.last{
border-right: none; /* skidam border sa poslednjeg */
}

.footer-contact-box-container{
display: flex;
flex-direction: column;
max-width: 220px; /* setujem max-width da bi se deo teksta prelomio u novi red kao sto je u figmi tacno */
margin-top: 10px;
}

.footer-contact-text{
/* font-family: 'Roboto'; */
font-size: 14px;
line-height: 22.4px;
color: white;
}

.footer-socials-text{
font-size: 14px;
line-height: 26px;
color: white;
}

.footer-tab-text{
color: white;
font-size: 16px;
line-height: 26px;
font-weight: 400; /* svakako je vrv po defaultu toliko */
font-family: 'Roboto Condensed', 'sans-serif';
 /* sans-serif, ako ne uspe da ucita roboto condesed */
 margin-top: 5px;
 margin-bottom: 5px;
}

.footer-socials-logo-container{
margin-top: 20px;
}

.image-footer-social-logo{
margin-right: 8px;
}


/***** FOOTER SMALL ROW CONTAINER ****/

.footer-small-row-container{
background-color: rgba(0, 0, 0, 0.33);
/*flex-grow: 1; *//* Grow to take up available space */ /* moze i bez ovoga !!! */

display: flex;
align-items: center;
justify-content: space-around;

padding-top: 16px;
padding-bottom: 16px;


}

.footer-small-row-box-container{
/* height: 100%; */

}

.footer-small-row-box-text{
color: white;
opacity: 0.3;
font-size: 14px;
line-height: 19.32px;
font-family: 'Roboto';
/* padding-top: 12px;
padding-bottom: 12px; */

}

.footer-small-row-box-text.underlined{
text-decoration: underline;
}

.footer-small-row-box-text.with-parts{
display: flex;
}

.footer-small-row-text-part-2{
text-decoration: underline;
}

/************* MOBILE SCREEN SIZE OUR FOOTER CONTAINER *************/

@media(max-width: 1180px){

.footer-container{
    height: fit-content;
}

.footer-row-box-container{
    border-right: none;
    padding: 0;
}

.footer-big-row-container{
    flex-direction: column;
    align-items: center; /* smanji se i logo uz pomoc ovog, nzm sto, ali treba svakako da se smanji */
}

.footer-small-row-container{
    flex-direction: column;
}

.footer-contact-title{
    margin-top: 30px;
}

.footer-row-box-container.tabs{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.footer-socials-text{
    text-align: center;
}

.footer-small-row-box-text{
    text-align: center;
    margin-bottom: 10px;
}

/* .image-footer-logo{
    height: 100px;
    width: 59px;
} */
}